---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  Dashboard
  <br />
  <a href="/login" class="hover:cursor-pointer select-none bg-green-600 px-3 py-2 text-white font-bold border-2 border-green-700 hover:bg-green-700 hover:border-green-800 first-letter:uppercase">logout</a>
</Layout>
