---
// src/pages/index.astro
let data;

try {
  const response = await fetch('https://dyne-dashboard-express.vercel.app/api/data');
  data = await response.json();
} catch (error) {
  console.error('Error al obtener datos:', error);
}
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ejemplo de CORS con Astro y Express</title>
</head>
<body>
  <h1>Ejemplo de CORS</h1>
  <button id="send">fetch</button>
  <script>
    document.getElementById('send').addEventListener('click', () => {
      fetch('/api')
    })
  </script>
</body>
</html>
