---
// src/pages/index.astro

---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ejemplo de CORS con Astro y Express</title>
</head>
<body>
  <h1>Ejemplo de CORS</h1>
  <button id="send">fetch</button>
  <script>
    document.getElementById('send').addEventListener('click', () => {
      fetch('/api')
    })
  </script>
</body>
</html>
