---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  landing page, con contacto, y boton de ingreso para admins
  <br />
  <a href="/login" class="hover:cursor-pointer select-none bg-green-600 px-3 py-2 text-white font-bold border-2 border-green-700 hover:bg-green-700 hover:border-green-800 first-letter:uppercase" id="btnIngresar">Ingresar</a>
</Layout>
